doc/resources/project-configuration.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="project">
        <xs:complexType>
            <xs:choice>
                <xs:sequence maxOccurs="unbounded">
                    <xs:element name="env" type="env" minOccurs="1" maxOccurs="unbounded" />
                    <xs:element name="target" type="env" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:sequence maxOccurs="unbounded">
                    <xs:element name="target" type="env" minOccurs="1" maxOccurs="unbounded" />
                    <xs:element name="env" type="env" minOccurs="1" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="name" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:complexType name="env">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="call" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="target" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="rename" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="src" type="xs:string" use="required" />
                    <xs:attribute name="dest" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="sync" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="src" type="xs:string" use="required" />
                    <xs:attribute name="destdir" type="xs:string" use="required" />
                    <xs:attribute name="exclude" type="xs:string" use="optional" />
                    <xs:attribute name="include" type="xs:string" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="externalproperty" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="description" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="gitexport" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="repository" type="xs:string" use="required" />
                    <xs:attribute name="ref" type="xs:string" use="required" />
                    <xs:attribute name="destdir" type="xs:string" use="required" />
                    <xs:attribute name="exclude" type="xs:string" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="mkdir" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="destdir" type="xs:string" use="required" />
                    <xs:attribute name="mode" type="xs:unsignedShort" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="cvsexport" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="repository" type="xs:string" use="optional" />
                    <xs:attribute name="module" type="xs:string" use="optional" />
                    <xs:attribute name="destdir" type="xs:string" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="buildlanguage" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="project" type="xs:string" use="required" />
                    <xs:attribute name="destdir" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="b2cswitchsymlink" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="sysopsnotifications" type="xs:boolean" use="required" />
                    <xs:attribute name="addSQLTwBuild" type="xs:boolean" use="required" />
                    <xs:attribute name="clusterRemoving" type="xs:boolean" use="required" />
                    <xs:attribute name="clusterReintegration" type="xs:boolean" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="http" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="url" type="xs:string" use="required" />
                    <xs:attribute name="destdir" type="xs:string" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="updatesitelogo" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="host" type="xs:string" use="required" />
                    <xs:attribute name="port" type="xs:unsignedShort" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="filltemplate" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="srcfile" type="xs:string" use="required" />
                    <xs:attribute name="destfile" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="link" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="server" type="xs:string" use="optional" />
                    <xs:attribute name="src" type="xs:string" use="required" />
                    <xs:attribute name="target" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="tplminify" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="tpldir" type="xs:string" use="required" />
                    <xs:attribute name="cssparentdir" type="xs:string" use="required" />
                    <xs:attribute name="jsparentdir" type="xs:string" use="required" />
                    <xs:attribute name="destdir" type="xs:string" use="required" />
                    <xs:attribute name="imgoutpath" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="b2cpreparestaticcontent" minOccurs="0" maxOccurs="1" />
        </xs:choice>
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="mailto" type="xs:string" use="optional" />
        <xs:attribute name="withsymlinks" type="xs:boolean" use="optional" />
        <xs:attribute name="loadtwengaservers" type="xs:boolean" use="optional" />
        <xs:attribute name="basedir" type="xs:string" use="optional" />
    </xs:complexType>
</xs:schema>
